<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>reveal.js - The HTML Presentation Framework</title>

		<meta name="description" content="A framework for easily creating beautiful presentations using HTML">
		<meta name="author" content="Hakim El Hattab">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="css/reveal.min.css">
		<link rel="stylesheet" href="css/theme/default.css" id="theme">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- If the query includes 'print-pdf', use the PDF print sheet -->
		<script>
			document.write( '<link rel="stylesheet" href="css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section data-markdown>
               <script type="text/template">
                  # MVC? WTF?
               </script>
				</section>
            <section>
               <section data-markdown>
                  <script type="text/template">
                     ## Back-End
                     ### The Shitty way

                     ```
   sub read_post {
      my $self = shift;

      my $template;

      if ($self->query->param('id') {
         $template = $self->load_tmpl( 'rotator_post.tmpl',
                                          die_on_bad_params => 0,
                                          loop_context_vars => 1);

         my $stmt = 'SELECT * FROM posts WHERE id = ?';
         my $post = $self->dbh->selectrow_hashref($stmt, undef, $self->query->param('id'));

         $template -> param( $post );
      } else {
         $template = $self->load_tmpl( 'list_post.tmpl',
                                          die_on_bad_params => 0,
                                          loop_context_vars => 1);

         my $stmt = "SELECT * FROM posts";
         my $list_array = $self->dbh->selectall_arrayref($stmt, {Slice => {}});

         $template -> param( list => $list_array );
      }

      return $template->output();
   }
                     ```
                  </script>
               </section>
               <section data-markdown>
                  <script type="text/template">
                     ## Back-End
                     ### The Elegent way

                     ```
   get '/?:id?' => sub {
      if ( param 'id' ) {
         $tmpl_params{post} = Post->find(param 'id')->cereal
         template 'post_read.tt', \%tmpl_params;
      } else {
         $tmpl_params{posts} = \@{[Post->all]};
         template 'post_list.tt', \%tmpl_params;
      }
   }

                     ```
                  </script>
               </section>
            </section>
            <section>
               <section data-markdown>
                  <script type="text/template">
## Front-End

### The Shitty way

 ```
     var app = app || {};

     app.init = function () {
       var routes = [];
       routes.push (
         { regex: /^\/posts/, callback: listPosts },
         { regex: /%\/posts\/(\d+)/, callback: showPost },
         { regex: /%\/posts\/delete\/(\d+)/, callback: deletePost },
         { regex: /.*/, callBack: default }
       );

       // does not take into account
       // pushstate / hashchange browser support
       $(window).on('popstate', this.navigate);
     }

     app.navigate = function () {
       var path = window.location.pathname;
       for (var i = 0; i < this.routes.length; i++) {
         var match = path.match(this.routes[i].regex);
         if (match) {
           this.routes[i].callback.apply(this, match.slice(1));
         }
       };
     }

     app.listPosts = function () {
       var postsRequest = $.ajax('/posts', {
         dataType: 'json',
         success: function(data) {
           var posts = JSON.parse(data);
           var postElements = [];

           $.each(posts, function (index, post) {
             // assumes that there is a #posts div on page
             var template = '<article class="post post-list"'
             // our id is tied to our dom element
             + 'data-id="' post.id + '">'
             + '<h1>' + post.title
             + '</h1><div class="description">'
             + post.description + '</div>'
             + '<button class="delete">delete</button>';

             postElements.push(template);
           });

           $('#posts')
           .append(postElements);
           .on('click', '.post', function () {
             app.getPost($(this).attr('data-id'));
           })
           .on('click', '.delete', function () {
             app.deletePost($(this).attr('data-id'));
           });
         };
       });

       app.getPost = function () {
         $.getJSON('/posts' + id, function (data) {
           var template = '<article>'
           + data.body
           + '</article>';
           $('body').html(template);
         })
       };

       app.deletePost = function (id) {
         var self = this;
         $.ajax('/posts' + id, {dataType: 'DELETE', done: function () {
            self.listPosts();
         }});
       };
     }

     // kick things off
     app.init();
                     ```
                  </script>
               </section>
        <section data-markdown>
            <script type="text/template">
            ## Front-End
            ### The elegant way
            #### Model
            ```
            var model = Backbone.model.extend({
                    url: '/posts',
            });
           ```
           </script>
       </section>

                <section data-markdown>
                  <script type="text/template">
                      ## Front-End
                      ### The elegant way
                      #### View
                      ```
                      var view = Backbone.View.extend({
                              model: model,
                              template: _.template('<h1><a href="posts/<%= id %>"> <%= title %></a></h1><p><%= description %></p>'),
                              tagName: 'article',
                              events: {
                                    'click .eRemove': 'removeModel'
                              },

                              initialize: function () {
                                  this.model.on('change', this.render, this);
                                  this.model.on('destroy', this.remove, this);
                                  this.model.on('hide', this.remove, this);
                              },

                              removeModel: function () {
                                this.model.destroy({wait: true});
                              },

                              remove: function () {
                                this.$el.remove();
                              },

                              render: function () {
                                var attr = this.model.attributes;
                                this.$el.html(this.template(attr));
                                return this;
                              }
                        });
                        })

                      ```
                </script>
                </section>

                <section data-markdown>
                  <script type="text/template">
                  ## Front-End
                  ### The elegant way
                  #### Controller
                  ```
                  router = Backbone.Router.extend({
                      routes: {
                        '': 'home',
                        'posts/:id': 'show',
                      },

                      show: function (id) {
                          var post = new model({id: id});
                          post.fetch({success:function () {
                            $('#content').html(new view({model: post }).render().el);
                          }});
                      },
                  });
                  ```
                  </script>
                </section>
            </section>
            <!-- Explain MVC -->
				<section>
               <section data-markdown>
                  <script type="text/template">
                     # Model
                  </script>
               </section>
               <section data-markdown>
                  <script type="text/template">
                     ## Model
                     A Model is the "What" of the app. This includes data and munipulations of that data.
                  </script>
               </section>
            </section>
				<section>
               <section data-markdown>
                  <script type="text/template">
                     # View
                  </script>
               </section>
               <section data-markdown>
                  <script type="text/template">
                     ## View
                     A view is the presentation of the Model Data and other suplimentary munipulates.
                  </script>
               </section>
            </section>
				<section>
               <section data-markdown>
                  <script type="text/template">
                     # Controller
                  </script>
               </section>
               <section data-markdown>
                  <script type="text/template">
                     ## Controller
                     A controller is the "How" of the app. Its the glue between the Model and the View.
                  </script>
               </section>
            </section>

			</div>

		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.min.js"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});

		</script>

	</body>
</html>
